
#top {
    position: relative;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    padding-top: 60px;
}

#content{
    position: relative;
    background-color: white;
    color: black;
}

#contentInicio{
    position: relative;
    background-color: #761c19;
    color: white;
}

#contentProductos{
    position: relative;
    background-color: #000;
    color: white;
}

#bottom {
    position: relative;
    background-color: white;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #761c19;
    padding: 5px;
}

.left_content {
    background-color: #761c19;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #761c19;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    font-weight : bold;
    text-decoration : none;
}

img{
    max-width: 80%;
    width: 800px;
}

#pizza{
    max-width: 80%;
    width: 100%;
}

#contenidoInicial{
    background-image: url(../..//Img/plantilla-powerpoint-cuadrados.jpg);
    background-color: #761c19;
    color: white;
}

.jumbotron{
    background-image: url(../..//Img/cocina.jpg);   
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: white 0.3em 0.3em 0.3em;
}
body {
    position: relative; 
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
#section1 {color: #000; background-color: #fff;}
#section2 {color: #000; background-color: #fff;}
#section3 {color: #000; background-color: #fff;}//padding-top:50px;height:500px;

.input-recaptcha{
 width:172px;   
}